.form {
  padding: 20px;
  min-width: 500px;
  & label {
    display: block;
    // margin: 3rem auto;
    font-size: 1.8rem;
  }
  & span {
    display: block;
    margin: 1rem auto;
    color: #667080;
  }
  & input {
    padding: 8px 6px;
    font-size: 1.4rem;
    color: #667080;
    width: 72%;
  }
}
.input-container {
  display: flex;
  gap: 15px;
  width: 150px;
}
.label-container {
  display: flex;
  gap: 30px;
}
.close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #333;
  }
}
