.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 10vh;
  left: 30%;
  width: 40%;
  min-width: 380px;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

// @media (min-width: 619px) {
//   .modal {
//     width: 35rem;
//     left: calc(45% - 10rem);
//   }
// }
@media (min-width: 200px) {
  .modal {
    width: 30rem;
    left: calc(50% - 19rem);
  }
}
// @media (min-width: 300px) {
//   .modal {
//     width: 40rem;
//     left: calc(45% - 20rem);
//   }
// }
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
