// colors
$bg-light: rgb(235, 235, 235);

$bg-dark: #333;
$color-green: #249c6b;
$bg-color: #d6d6d6;
$primary-text-color: #fff;
$secondary-text-color: #667080;
$title-color: #212529;
$icon-color: #606060;
