.footer {
  display: flex;
  max-width: 300px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

  & h2 {
    font-size: 14px;
    color: #c9c9c9;
    font-weight: 400;
  }
}
@media (min-width: 200px) {
  .footer {
    width: 30rem;
    left: calc(53.5% - 19rem);
  }
}
@media (max-width: 914px) {
  .footer {
    width: 30rem;
    left: calc(53.5% - 16rem);
  }
}
